.start {
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9000;
}

.start p {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 9999;
  width: 280px;
  font-size: 200px;
  font-family: 'Bangers', cursive;
}

.main {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.main-image {
  width: 100%;
  position: relative;
}

.service-title {
  position: absolute;
  left: 100px;
  top: 100px;
  font-size: 100px;
  display: none;
}

.request-btn {
  position: absolute;
  top: 400px;
  left: 200px;
  border-radius: 20px;
  width: 200px;
  height: 100px;
  text-align: center;
  padding-top: 60px;
  font-weight: bold;
  font-family: fantasy;
  background-color: chartreuse;
  display: none;
}

.answered-request-btn {
  position: absolute;
  top: 400px;
  left: 50vw;
  border-radius: 20px;
  width: 200px;
  height: 100px;
  text-align: center;
  padding-top: 60px;
  font-weight: bold;
  font-family: fantasy;
  background-color: chartreuse;
  display: none;
}

.request-view {
  position: absolute;
  top: 570px;
  left: 8vw;
  width: 30%;
  height: 50%;
  border-radius: 5px;
  background-color: azure;
  opacity: 90%;
  overflow: scroll;
  display: none;

}

.request-info {
  display: flex;
  flex-direction: column;
}

.answered-request {
  position: absolute;
  top: 570px;
  left: 40vw;
  width: 50%;
  height: 50%;
  border-radius: 5px;
  background-color: azure;
  opacity: 80%;
  overflow: scroll;
  display: none;
}

.answer-request-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 1px;
}

.answer-request-nickname {
  margin-bottom: 15px;  
}

.answer-request-text {
  margin-bottom: 15px;
}

.answer-content{
  margin-bottom: 30px;
}

.answer-text {
  margin-bottom: 15px;
}

.answer-request-info {
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 20px;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 0px;
  font-size: larger;
  padding: 10px;
  color: azure;
  background-color: red;
}

.request-user {
  color: black;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 10px;
}

.sex {
  color: black;
  font-weight: bold;
  margin-top: 10px;
}

.height {
  color: black;
  font-weight: bold;
  margin-top: 20px;
}

.request-text {
  color: black;
  font-weight: bold;
  margin-top: 20px;
}

.btn-group {
  margin-left: 350px;
}

.answer-btn {
  text-decoration: none;
  color: black;
  font-weight: bold;
  width: 50px;
  padding: 10px;
  border-radius: 5px;
  background-color: orange;
}

.edit-btn {
  text-decoration: none;
  color: black;
  font-weight: bold;
  border-radius: 5px;
  background-color: aquamarine;
  width: 50px;
  padding: 10px;
  margin-left: 10px;
}

.delete-btn {
  text-decoration: none;
  color: black;
  font-weight: bold;
  border-radius: 5px;
  background-color: red;
  width: 50px;
  padding: 10px;
}