.top-page-header {
  width: 100vw;
  height: 20vh;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-contents {
  
}


.header-title {
  color: aliceblue;
  font-family: 'Bangers', cursive;
  font-size: 100px;
  margin-left: 30px;
  text-decoration: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 15px;
}

.nav-lists {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.request-post {
  text-decoration: none;
  color: white;
  margin-right: 30px;
}

.user-nickname {
  text-decoration: none;
  color: white;
  margin-right: 30px;
}

.login {
  text-decoration: none;
  color: white;
  margin-right: 30px;
}

.logout {
  text-decoration: none;
  color: white;
}

.sign-up {
  text-decoration: none;
  color: white;
  margin-right: 30px;
}
  
