.form-wrap {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-image {
  width: 100%;
  position: relative;
  opacity: 50%;
}
